<!DOCTYPE html>

<html>
        
<head>
    <title>about</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
 
<body>

      <div class="flex_container"">
        <h1>
            About me:
        </h1>

        <p>
            My name is Chance Kirby and I am a current Junior at the University of
            Memphis studying computer science.
        </p>

        <h1>
            About my portfolio:
        </h1>

        <p>
            On my portfolio page you can find a few of my best art pieces.
        </p>
      </div>
</body>

</html>